body{
  justify-content: center;
  text-align:center;

  background-color: azure;
}
header{
  font-size: 120px;
  justify-content: center;
}

#picture_section{
  width:90%;
  /* height:20%; */
  display: flex;
  /* display: block; */
  flex-direction: row ;
  justify-content: center;

  gap: 15px;
}

button{
  font-size: 40px;
  margin-top: 4%;
  width:300px;
  height:100px;
}

img{

  width: 500px;
  height: 500px;
  
  /* height: 20px; */
}
ul{
  list-style-type: none ;
}




/* LAB 2 */
#myChart {
  width: 150px;
  min-height: 400px;
}